In [7]:
import json
import requests

In [23]:
def cache_coin_data_history(coin: str, currency: str):
    """
    Request historical data for a coin and a currency
    and store it in cache.

    Args:
        coin (str): Crypto name.
        currency (str): Currency name.

    Returns:
        dict: Dictionnary with the historical data.
    """

    coin = coin.strip("$/_*()")
    data = requests.get(f"https://api.coingecko.com/api/v3/coins/{coin}/market_chart?vs_currency={currency}&days=10&interval=daily")
    
    return data

In [26]:
data = cache_coin_data_history("bitcoin", "usd").headers
data

{'Date': 'Thu, 13 Jan 2022 10:40:32 GMT', 'Content-Type': 'application/json; charset=utf-8', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'Cache-Control': 'max-age=30, public, must-revalidate, s-maxage=30', 'Access-Control-Allow-Origin': '*', 'Access-Control-Allow-Methods': 'POST, PUT, DELETE, GET, OPTIONS', 'Access-Control-Request-Method': '*', 'Access-Control-Allow-Headers': 'Origin, X-Requested-With, Content-Type, Accept, Authorization', 'Access-Control-Expose-Headers': 'link, per-page, total', 'Vary': 'Accept-Encoding, Origin', 'Content-Encoding': 'gzip', 'ETag': 'W/"3135f5cf34079105f1ba7cb8b82283ca"', 'X-Request-Id': '95208d7e-416b-4325-9a73-316c5e861f84', 'X-Runtime': '0.031077', 'Alternate-Protocol': '443:npn-spdy/2', 'CF-Cache-Status': 'HIT', 'Age': '30', 'Expect-CT': 'max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"', 'Server': 'cloudflare', 'CF-RAY': '6cce01cdefacee79-CDG'}

In [8]:
from itertools import product

curr = ["bitcoin", "ethereum", "litecoin", "bitcoin-cash", "tether", "bitcoin-sv"]
compare = ["usd"]

datasets = list(product(curr, compare))

In [10]:
for df in datasets:
    print(f"Name: {df[0]}_vs_{df[1]}_market_chart")

Name: bitcoin_vs_usd_market_chart
Name: ethereum_vs_usd_market_chart
Name: litecoin_vs_usd_market_chart
Name: bitcoin-cash_vs_usd_market_chart
Name: tether_vs_usd_market_chart
Name: bitcoin-sv_vs_usd_market_chart

In [22]:
# BINANCE API
API_KEY="to_replace"
SECRET_KEY="to_replace"

from binance.client import Client

import pandas as pd

binance_client = Client(api_key=API_KEY, api_secret=SECRET_KEY)

klines = binance_client.get_historical_klines("ETHUSDT", Client.KLINE_INTERVAL_1DAY, "3650 days ago UTC")
data = pd.DataFrame(klines, columns = ['timestamp', 'open', 'high', 'low', 'close', 'volume', 'close_time', 'quote_av', 'trades', 'tb_base_av', 'tb_quote_av', 'ignore' ])
data['timestamp'] = pd.to_datetime(data['timestamp'], unit='ms')

In [23]:
data.head()

,timestamp,open,high,low,close,volume,close_time,quote_av,trades,tb_base_av,tb_quote_av,ignore
0,2017-08-17,301.13000000,312.18000000,298.00000000,302.00000000,7030.71034000,1503014399999,2154655.30035660,4522,6224.58999000,1908705.36853020,50579.87228839
1,2017-08-18,302.00000000,311.79000000,283.94000000,293.96000000,9537.84646000,1503100799999,2858946.50935390,5658,7452.43542000,2240813.26122640,55329.57432378
2,2017-08-19,293.31000000,299.90000000,278.00000000,290.91000000,2146.19773000,1503187199999,620022.58986170,1795,1537.97550000,444713.61220860,58005.17104565
3,2017-08-20,289.41000000,300.53000000,282.85000000,299.10000000,2510.13871000,1503273599999,742847.89455990,2038,2186.68739000,647506.06202050,60299.06615403
4,2017-08-21,299.10000000,346.52000000,294.60000000,323.29000000,5219.44542000,1503359999999,1689472.34121400,3925,4004.19967000,1297977.42311420,66203.84022245

In [16]:
data.shape

(1615, 12)